[submodule "Adafruit_Python_DHT"]
	path = Adafruit_Python_DHT
	url = https://github.com/adafruit/Adafruit_Python_DHT
[submodule "soft_uart"]
	path = soft_uart
	url = https://github.com/sfera-labs/soft_uart
