[Unit]
Description=prometheus
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/app/prometheus/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target