[Unit]
Description=CoreDns
After=network-online.target

[Service]
ExecStart=/home/pi/app/coreDns/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target