[Unit]
Description=grafana
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/app/grafana/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target